.skills .level-1 .attributes {
    font-size: 18pt;
    line-height: 12pt;
}
.skills .level-1 .attributes h3 {
    margin-top: 0;
    margin-bottom: 3mm;
    font-size: 1.3em;
    font-family: 'Bangers', cursive;
}
.attributes .level-2 li {
    margin-bottom: 2mm;
}