.skills {
    column-count: 2;
}

.skills .column-break {
    break-before: column;
}

.skills ul {
    margin-left: 3mm;
}
.skills .level-1 h3 {
    line-height: 0.7em;
}
.skills .level-1 h3, .skills .level-2 li {
    display: flex;
    justify-content: space-between;
    font-family: 'Bangers', cursive;
    margin: 0;
}

.skills .name {
    flex-grow: 0;
}

.skills .level-1 li .attributes .value {
    flex-grow: 1;
    text-align: right;
    border-bottom: 1px dashed lightgray;
}